header {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(75,134,180);
  box-shadow: 0 0 10px black;
}

nav ul li {
  list-style: none;
  display: inline-block;
  height: 100px;
}

ul {
  height: 60px;
}

.internal a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  width: 200px;
  background-color:rgb(198,226,255);
  color:black;
  font-family: sans-serif;
  font-size: 15pt;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top:10px;
}

.internal a:hover{
  background-color: rgb(138,158,178);
}

p {
  font-size: 15pt;
  font-family: sans-serif;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e8edf3;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-side,
.right-side {
  flex-basis: 20%;
}

.table-container {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal {
  width: 100%;
  height: auto;
}

.table-size {
  size: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid rgb(5, 9, 6);
}

th:first-child {
  background-color: rgb(158,192,133);
}

th:nth-child(2) {
  background-color: rgb(158,192,133);
}


th,
td {
  border: 1px solid rgb(5, 9, 6);
  padding: 8px;
  text-align: left;
}

